body,
html {
  margin: 0;
  padding: 0;
  background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);
  background-size: cover;
  height: 100vh;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  z-index: 99;
  position: absolute;
}
